/* Page Fade */

body.page-enter{
 animation:pageEnter .5s forwards;
}

body.page-exit{
 animation:pageExit .4s forwards;
}

@keyframes pageEnter{
 from{ opacity:0; transform:translateY(20px);}
 to{ opacity:1; transform:translateY(0);}
}

@keyframes pageExit{
 to{ opacity:0; transform:translateY(-20px);}
}

/* Loader */

.loader-screen{
 position:fixed;
 inset:0;
 background:white;
 display:flex;
 justify-content:center;
 align-items:center;
 z-index:9999;
 transition:opacity .6s;
}

.loader-screen.hide{
 opacity:0;
 pointer-events:none;
}

.loader-heart{
 font-size:3rem;
 animation:pulse 1.2s infinite;
}

@keyframes pulse{
 50%{ transform:scale(1.2);}
}
